<div class="main-content">
    <div class="container-fluid">
        <div class="row">


            <div *ngIf="adminConnecter.role !== 'superadmin'" class="col-md-12">
               <div class="card">
                <img src="../../../assets/img/admisimple.jpg">
               </div>

            </div>


            <div *ngIf="adminConnecter.role === 'superadmin'" class="col-md-12">
                <a style="background: #725787;" href="javascript:void(0)" class="btn btn-round"><i class="fas fa-plus" style="color: white;"></i> Ajouter</a>
                <div class="card">
                    <div class="card-header card-header" style="background-color: #8F8B8B !important;">
                        <h4 class="card-title">Liste des administrateurs </h4>
                        <p class="card-category">Gerer vos admins</p>
                    </div>
                    <mat-form-field>
                      <mat-label>Filter</mat-label>
                      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                    </mat-form-field>
                    <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.idAdministrateur}} </td>
                    </ng-container>
                    <ng-container matColumnDef="nom">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
                        <td mat-cell *matCellDef="let row"> {{row.nom}}</td>
                    </ng-container>
                    <ng-container matColumnDef="prenom">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prenom </th>
                        <td mat-cell *matCellDef="let row"> {{row.prenom}} </td>
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                    </ng-container>
                        <!-- <ng-container matColumnDef="image">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
                          <td mat-cell *matCellDef="let row">
                            <img [src]="row.image" alt="" class="styled-image">
                          </td>
                        </ng-container>     -->
                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell *matCellDef="let row">
                        <i class="fas fa-trash" style="color: red;"  (click)="onDelete(row.idAdministrateur)" ></i>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">Aucun donné trouvé "{{input.value}}"</td>
                    </tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of admins"></mat-paginator>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a href="javascript:void(0)">
                            <img class="img" src="./assets/img/faces/marc.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                        <h4 class="card-title">Alec Thompson</h4>
                        <p class="card-description">
                            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                        </p>
                        <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
  </div>
  