<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-user-graduate"></i>
                        </div>
                        <p class="card-category">Enseignant</p>
                        <h3 class="card-title">20000
                            <small>Prof</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                           
                            
                            <div>  <i class="fas fa-user-graduate"></i> Nombre de nos professeurs </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-users"></i>
                        </div>
                        <p class="card-category">Etudiant</p>
                        <h3 class="card-title">100000</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <div>
                            <i class="fas fa-users"></i> Elèves
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-purple card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-user-tag"></i>
                        </div>
                        <p class="card-category">Abonnés</p>
                        <h3 class="card-title">500</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <div>
                            <i class="fas fa-user-tag"></i> Les élèves abonnés
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="fas fa-coins"></i>
                        </div>
                        <p class="card-category">Budgets Total</p>
                        <h3 class="card-title">1000000 FCFA </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <div>
                            <i class="fas fa-money"></i> la somme total du budget
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div> <a href="#" style=" color: aliceblue;background-color: #725787; margin-left: 10px; border-radius: 5px; padding: 5px 10px 5px 10px; text-decoration: none; "><i class="fas fa-plus" style="color: aliceblue;"></i> Ajouter</a> Les Domaines / Filières  </div> 
        <div class="row">

            

            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-purple" style="background-color: #8F8B8B !important;">
                        <h4 class="card-title">Data science</h4>
                        <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
                    </div>
                    <div class="card-body table-responsive">
                        <div style="display: flex;"><div style="margin-right: 10px;">La data science est l'etude d'analyse des données</div> <div> <span style="margin-left: 10px;"><i class="fas fa-eye"></i></span>
                            <span style="margin-left: 10px;"><i class="fas fa-edit"></i></span>  <span style="margin-left: 10px;"><i class="fas fa-trash" style="color: red;"></i></span>
                        </div> </div>
                    </div>
                </div>
            </div>


           

            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-purple" style="background-color: #8F8B8B !important;">
                        <h4 class="card-title">Data science</h4>
                        <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
                    </div>
                    <div class="card-body table-responsive">
                        <div style="display: flex;"><div style="margin-right: 10px;">La data science est l'etude d'analyse des données</div> <div> <span style="margin-left: 10px;"><i class="fas fa-eye"></i></span>
                            <span style="margin-left: 10px;"><i class="fas fa-edit"></i></span>  <span style="margin-left: 10px;"><i class="fas fa-trash" style="color: red;"></i></span>
                        </div> </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-purple" style="background-color: #8F8B8B !important;">
                        <h4 class="card-title">Data science</h4>
                        <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
                    </div>
                    <div class="card-body table-responsive">
                        <div style="display: flex;"><div style="margin-right: 10px;">La data science est l'etude d'analyse des données</div> <div> <span style="margin-left: 10px;"><i class="fas fa-eye"></i></span>
                            <span style="margin-left: 10px;"><i class="fas fa-edit"></i></span>  <span style="margin-left: 10px;"><i class="fas fa-trash" style="color: red;"></i></span>
                        </div> </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-purple" style="background-color: #8F8B8B !important;">
                        <h4 class="card-title">Data science</h4>
                        <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
                    </div>
                    <div class="card-body table-responsive">
                        <div style="display: flex;"><div style="margin-right: 10px;">La data science est l'etude d'analyse des données</div> <div> <span style="margin-left: 10px;"><i class="fas fa-eye"></i></span>
                            <span style="margin-left: 10px;"><i class="fas fa-edit"></i></span>  <span style="margin-left: 10px;"><i class="fas fa-trash" style="color: red;"></i></span>
                        </div> </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-purple" style="background-color: #8F8B8B !important;">
                        <h4 class="card-title">Data science</h4>
                        <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
                    </div>
                    <div class="card-body table-responsive">
                        <div style="display: flex;"><div style="margin-right: 10px;">La data science est l'etude d'analyse des données</div> <div> <span style="margin-left: 10px;"><i class="fas fa-eye"></i></span>
                            <span style="margin-left: 10px;"><i class="fas fa-edit"></i></span>  <span style="margin-left: 10px;"><i class="fas fa-trash" style="color: red;"></i></span>
                        </div> </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-purple" style="background-color: #725787 !important;">
                        <h4 class="card-title">Data science</h4>
                        <!-- <p class="card-category">New employees on 15th September, 2016</p> -->
                    </div>
                    <div class="card-body table-responsive">
                        <div style="display: flex;"><div style="margin-right: 10px;">La data science est l'etude d'analyse des données</div> <div> <span style="margin-left: 10px;"><i class="fas fa-eye"></i></span>
                            <span style="margin-left: 10px;"><i class="fas fa-edit"></i></span>  <span style="margin-left: 10px;"><i class="fas fa-trash"></i></span>
                        </div> </div>
                    </div>
                </div>
            </div>


        </div>



    </div>
  </div>
  